@media (min-width: 640px) {
    body {
        margin-left: 100px;
        margin-right: 100px;
    }
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.game {
    min-width: 400px;
    max-width: 500px;
}

.game-info {
    margin-top: 30px;
    height: 40px;
    font-size: 18px;
}

.game-options {
    margin-top: 10px;   
    text-align: right;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none; 
    font-size: 20px;
}

.game-board {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 36px;
}

.game-row {
    display: flex;
}

.game-cell {
    width: 125px;
    height: 125px;
    border: solid 3px #999999;
    cursor: default;

    /* center align the cell values */
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-cell:first-child {
    border-left: none;
}

.game-cell:last-child {
    border-right: none;
}

.game-row:first-child .game-cell {
    border-top: none;
}

.game-row:last-child .game-cell {
    border-bottom: none;
}

.game.win .game-info #btnPlayAgain, .game.tie .game-info #btnPlayAgain {
    display: inline-block;
}

.game.win .game-board .game-row .game-cell {
    background-color: #76ff76;
}

.game.tie .game-board .game-row .game-cell {
    background-color: #ffc977;
}

.game-cell.winning-space {
    background-color: #11ce11 !important;
}

.game.win .game-board, .game.tie .game-board {
    cursor: not-allowed !important;
}
